.currency-item{
  width: 275px;
  margin: 12px;
  padding: 25px;
  background: gray;
  text-align: center;
}
//@media screen and (max-width: 750px) {
//  .currency-item{
//    width: 205px;
//
//  }
//}
