@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  padding: 0 60px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
